#statsDialog, #skillsDialog {
	cursor: default;
	-moz-user-select: none;
	-webkit-user-select: none;
	display: none;
	cursor: pointer;
	pointer-events: auto;
	/*font-family:'pixel-emulator';*/
}

#characterAttack,
#characterDefense,
#characterHealth,
#characterEnergy,
#characterLuck,
#characterPoints
{
	display:inline-block;
	color:white;
}

#characterName, #characterLevel, #characterAttackLevel,#characterDefenseLevel,#characterMoveLevel, #characterExp,
#characterBaseHit, #characterBaseCrit, #characterBaseDamage, #characterBaseHitDef, #characterBaseCritDef, #characterBaseDamageDef {

}

#characterName, #characterLevel, #characterAttackLevel,#characterDefenseLevel,#characterMoveLevel, #characterExp,
#characterBaseHit, #characterBaseCrit, #characterBaseDamage, #characterBaseHitDef, #characterBaseCritDef, #characterBaseDamageDef {
	color:#fff;
}

#charAddAttack,
#charAddDefense,
#charAddHealth,
#charAddEnergy,
#charAddLuck
{
display:none;
color:black;
pointer-events: auto;
}

#frameSkillsPage, #frameStatsPage
{
  position: absolute;
  left: 2%;
  top: 2%;
  width: 96%;
  height: 96%;
}

#frameStatsPage div span.newFieldName {
	display: block;
	padding-bottom:6%;
}

#characterInfo {
  position: absolute;
  left: 2%;
  top: 2%;
  width: 58%;
}

#characterInfo div {
	font-family:'GraphicPixel';
	color: #fff;
}

#characterStats {
  position: absolute;
  left: 60%;
  top: 2%;
  width: 38%;
}

#characterStats div * {
	font-family:'GraphicPixel';
}

#skillDetail {
	position: absolute;
	left:0px;
	top:2%;
	width:90%;
	height:20%;
	font-family:'GraphicPixel';
	font-size:18px;
	font-weight: bold;
	padding:5%;
	color: #fff;
}

#characterName, #characterLevel, #characterAttackLevel, #characterDefenseLevel, #characterExp,
#characterLevelSword, #characterLevelBow, #characterLevelHammer, #characterLevelAxe,
#characterLevelLogging, #characterLevelMining {
  position: relative;
  width: 240px;
  height: 24px;
  font-size: 21px;
}


#playerDamageInfo {
	position: absolute;
	left: 60%;
	bottom: 2%;
}

#playerDamageInfo div {
	font-family:'GraphicPixel';
}

#characterBaseCrit, #characterBaseCritDef, #characterBaseDamageDef,
#characterBaseDamage, #characterBaseDamageDef {
	width: 240px;
	font-size: 21px;
}

#characterCloseButton {
  position: absolute;
  right: 3px;
  top: 3px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index:15;
	background: url('../img/2/misc/close-button.png' ) no-repeat;
  pointer-events: auto;
}


#characterPoints {
	font-weight: 900;
}
#characterPoints,
#characterAttack,
#characterDefense,
#characterHealth,
#characterEnergy,
#characterLuck
{
	margin-bottom:6%;
	font-size:21px;
	width:120px !important;
}

#charAddAttack,
#charAddDefense,
#charAddHealth,
#charAddEnergy,
#charAddLuck
{
	width:30px !important;
	height:30px !important;
}
