

	#combathit {
		position: absolute;
		bottom:0;
		right:135px;
		width:262px;
		height:45px;
	}

	#combathitbar {
		position: absolute;
		left:0;
		top:0;
		width:264px;
		height:39px;
		background: url('../img/3/misc/energybar.png') no-repeat !important;
		z-index:10;
	}

	#combathitbar-points {
		position: absolute;
		top: 6px;
		left:33px;
		width:227px;
		height:30px;
		z-index:9;
	}

	#combathitbar-slider {
		position:absolute;
		z-index:5;
		height: 100%;
		width:0;
		background-color: #33cc00;
		border-radius: 0 0 6px 6px;
		opacity: 0.8;
	}

	#combatContainer {
		position: absolute;
		top:50%;
		left:50%;
		width:180px;
		height:120px;
		margin-left:-90px;
		margin-top:0px;
		z-index:10;
		opacity:1.0;
		display:none;
		transform:scale(1.5);
	}
	#combatContainer * {
		width:48px;
		height:48px;
		color:#000;
		font-size:24px;
		font-weight:bold;
		text-align: center;
		line-height:44px;
		pointer-events:all;
		opacity: 0.45;
		border-radius:12px;
		border:3px solid black;
	}
	#currentSkill {
		position: absolute;
		top:60px;
		left:60px;
		width:48px;
		height:48px;
		background: url('../img/3/skillicons.png') no-repeat;
		opacity:0.75;
		display:none;
		border-radius:12px;
		border:3px solid black;
	}


	#attackContainer {
		position: absolute;
		bottom:8%;
		right:0;
		width:175px;
		height:330px;
		color:#fff;
		opacity:0.6;
		/*border-radius: 10% / 5% !important;*/
		padding:0 !important;
		margin:10px !important;
	}

	#attackContainer:before {
		border-radius: 10% / 5% !important;
	}

	#attackContainer div div * {
		font-family: "GraphicPixel";
	}

#attackOffset {
	position:absolute;
	left: 6%;
	right: 0%;
	top: 3%;
	bottom: 0%;
	width: 94%;
	height: 97%;
	background-repeat: no-repeat;
	background-position: 0 20px;
}

#labelPotions {
	position: absolute;
	top:0;
	font-size:18px;
	font-weight:bold;
	width:85px;
	text-align:center;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#labelSkills {
	position: absolute;
	top:190px;
	font-size:18px;
	font-weight:bold;
	width:85px;
	text-align:center;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#scbackground0,  #scbackground1,  #scbackground2,  #scbackground3,
#scbackground4,  #scbackground5,  #scbackground6,  #scbackground7 {
	position: absolute;
	width: 80px;
	height: 80px;
	pointer-events: all;
	cursor: pointer;
	background: url('../img/3/misc/shortcutbackground.png') no-repeat;
	background-size: 77px 77px;
	margin: 0;
}

#scbackground0 {
	top: 0px;
	left: 0px;
}
#scbackground1 {
	top: 0px;
	left: 80px;
}
#scbackground2 {
	top: 80px;
	left: 0px;
}
#scbackground3 {
	top: 80px;
	left: 80px;
}
#scbackground4 {
	top: 160px;
	left: 0px;
}
#scbackground5 {
	top: 160px;
	left: 80px;
}
#scbackground6 {
	top: 240px;
	left: 0px;
}
#scbackground7 {
	top: 240px;
	left: 80px;
}

#shortcut0,  #shortcut1,  #shortcut2,  #shortcut3,
#shortcut4,  #shortcut5,  #shortcut6,  #shortcut7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  height: 72px;
  background-color: 'transparent';
  background-repeat: no-repeat !important;
  text-align: center;
  line-height:42px;
  color: #fff;
	font-size:18px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	margin:2px;
	border-radius:6px;
}

.scCD {
	position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  height: 72px;
  background-color: #ff0000;
  background-repeat: no-repeat !important;
  text-align: center;
  line-height:42px;
  color: #fff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size:18px;
  opacity: 0.5;
	margin:2px;
	display: none;
	border-radius:6px;
}

/*
#scinventoryHL0,  #scinventoryHL1,  #scinventoryHL2,  #scinventoryHL3 {
	position: absolute;
	left: 0;
	top: 0;
	width: 76px;
	height: 76px;
	text-align: center;
	font-size: 21px;
	color: white;
	cursor: default;
	border-radius:9px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	margin:1px;
}
*/

.scSC {
	z-index: 15;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 72px;
	height: 21px;
	font-size: 16px;
	color: white;
	cursor: default;
	font-weight: bold;
	pointer-events: none;
	opacity: 0.8;
	text-align: center;
	margin:3px;
}

#attackContainer .frame-close-button {
	position: absolute;
	width:32px;
	height:32px;
	background-size: 32px 32px;
	z-index:15;
}

#skill0,  #skill1,  #skill2,  #skill3 {
	position: absolute;
	width: 80px;
	height: 80px;
	pointer-events: all;
	cursor: pointer;
	background: url('../img/3/misc/shortcutbackground.png') no-repeat;
	background-size: 77px 77px;
	/*margin: 3px;*/
}

#skill0SC,  #skill1SC,  #skill2SC,  #skill3SC {
  z-index: 15;
  position: absolute;
  bottom: 3px;
  left: 3px;
  width: 72px;
  height: 21px;
  font-size: 16px;
  color: white;
  cursor: default;
  font-weight: bold;
  pointer-events: none;
  opacity: 0.8;
  text-align: center;
}

#skill0 {
	top: 288px;
	left: 0;
}
#skill1 {
	top: 288px;
	left: 80px;
}
#skill2 {
	top: 208px;
	left: 0;
}
#skill3 {
	top: 208px;
	left: 80px;
}

#skill0Body,  #skill1Body,  #skill2Body,  #skill3Body, #skill4Body, #skill5Body {
  position: absolute;
  left: 0;
  top: 0;
  width: 72px;
  height: 72px;
  text-align: center;
  line-height:36px;
  color: #fff;
  font-weight: bold;
  border-radius:9px;
	margin:3px;
}

#skill0Cooltime,  #skill1Cooltime,  #skill2Cooltime,  #skill3Cooltime, #skill4Cooltime, #skill5Cooltime {
	position:absolute;
	left:0;
	top: 0;
	width: 72px;
	height: 72px;
	background-color: rgba(255, 0, 0, 0.5);
	text-align: center;
	font-size: 21px;
	padding-top: 0px;
	color: white;
	cursor: default;
	display: none;
	line-height:42px;
	border-radius:9px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	margin:2px;
}
