#bubbles * {
	font-family:'KomikaHand' !important;
	color:white;
}

#npcDialog {
	position:absolute;
	width: 500px;
	height: 150px;
	left: 50%;
	top: 75%;
	margin-left: -250px;
	margin-top: -75px;
	padding:14px;
	opacity:0.5;
	display: none;
}

#npcText {
	position: absolute;
	left: 120px;
	top: 4px;
	font-family: "GraphicPixel";
	font-size: 21px;
	color:white;
}

#npcDialoguePic {
	position: absolute;
	left: 30px;
	top: 20px;
	width: 64px;
	height: 64px;
	border: 2px solid black;
	background-color: white;
}

/*#dialogue * {
	font-family: "GraphicPixel";
	font-size: 18px;
}*/

#entityNames {
		width:100%;
		height:100%;
		position: absolute;
		top: 0px;
		left: 0px;
		pointer-events:none;
		overflow: hidden;
		z-index:4;
		opacity:1.0;
}

#entityNames * {
	font-family:'KomikaHand' !important;
}

#infoDamage {
		width:100%;
		height:100%;
		position: absolute;
		top: 0px;
		left: 0px;
		pointer-events:none;
		overflow: hidden;
		z-index:3;
		opacity:1.0;
}

#infoDamage * {
	font-family:'KomikaHand' !important;
}

#bubbles .img {
	display:inline-block;
	vertical-align:middle;
	text-align:center;
}


	#infoDamage * {
		font-size:24px;
	}
	.damage {
			/*border:1px solid green;*/
			display:inline-block;
			text-align:center;
			position:absolute;
			-moz-user-select:none;
			-webkit-user-select:none;
			width:180px;
			height:60px;
			margin-left:-90px;
			word-spacing:3px;
			text-align:center;
	}

		#entityNames * {
			font-size:15px;
		}
		.entityName {
				/*border:1px solid green;*/
        display:inline-block;
        text-align:center;
        position:absolute;
        -moz-user-select:none;
        -webkit-user-select:none;
        width:150px;
        height:60px;
				margin-left:-75px;
				word-spacing:3px;
				text-align:center;
    }

    #bubbles{
        width:100%;
        height:100%;
        position: absolute;
        top: 0px;
        left: 0px;
        pointer-events:none;
        overflow: hidden;
        z-index:5;
    }

		#bubbles * {
			font-size:15px;
		}
    .bubble {
        background-color:white;
        padding:12px 12px 12px 12px;
        border-radius:50%;
				border:3px solid black;
        display:inline-block;
        text-align:center;
        position:absolute;
        -moz-user-select:none;
        -webkit-user-select:none;
        max-width:240px;
        max-height:120px;
				opacity:0.75;
				word-spacing:3px;
    }

    #bubbles a {
        pointer-events:auto;
        text-decoration:none;
        color:#fcda5c;
    }
