html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/*
#chatLog.chatscrollin {
   height: 50%;
   transition: max-height .5s ease-in-out;
   -moz-transition: max-height .5s ease-in-out;
   -webkit-transition: max-height .5s ease-in-out;
}


#chatLog.chatscrollout {
   height: 15%;
   transition: max-height .5s ease-in-out;
   -moz-transition: max-height .5s ease-in-out;
   -webkit-transition: max-height .5s ease-in-out;
}
*/
/*
#menucontainer {
  border-radius: 10% / 5% !important;
}

#menucontainer:before {
  border-radius: 10% / 5% !important;
}
*/

  #chatbutton {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.75;
    width: 105px;
    height: 36px;
  }

  #chatLog {
    font-family: 'GraphicPixel';
    color: #e3e3e3;
    position: absolute;
    width: 450px;
    height: 45%;
    left: 0;
    top: 45%;
    padding: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 10;
    opacity: 0.6;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  #chatLog p {
    float: left;
    padding: 0;
    color: rgba(255, 255, 255, 1);
    font-family: 'GraphicPixel';
    font-size: 16px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  #chatLog p .name {
    font-weight: bold;
  }


  #menucontainer {
    position: absolute;
    right: 1%;
    top: 8%;
    width: 186px;
    height: 360px;
    z-index: 20;
    cursor: pointer;
    pointer-events: auto;
    opacity: 0.75;
    padding:9px !important;
  }

  #menucontainer div {
    pointer-events: auto;
  }

  #inventorybutton,
  #characterbutton,
  #skillbutton,
  #helpbutton,
  #settingsbutton,
  #warpbutton,
  #socialbutton,
  #achievementbutton,
  #storebutton {
    display:inline-block;
    width: 32px;
    height: 32px;
    margin:3px;
    padding:0;
    align:left;
    background: url('../img/common/menuicons.png') no-repeat;
  }

  #inventorytext,
  #charactertext,
  #skilltext,
  #helptext,
  #settingstext,
  #warptext,
  #socialtext,
  #achievementtext,
  #storetext {
    display: inline-block;
    font-family: 'pixel-emulator';
    color: white;
    font-size: 18px;
    margin: 0;
    font-weight: bold;
    width: 120px;
    padding: 0;
    line-height: 36px;
    vertical-align: top;
    padding-left: 6px;
  }
