#allinventorywindow{
    display: none;
    color: white;
    text-align: center;
    pointer-events: auto;
    z-index:14;
}

.inventoryGemsFrame {
    position:absolute;
    bottom: 2%;
}

.gemsicon {
  position:absolute;
  left:0;
  display: inline-block;
  background-image: url("../img/3/item/item-gem.png");
  background-size: 16px 16px;
}

.inventoryGoldFrame .inventoryGold {
    position: absolute;
    bottom:0;
    color: #fff;
    text-align: left;
    font-family: "GraphicPixel";
}

.inventoryGemsFrame .inventoryGems {
    position: absolute;
    bottom:0;
    color: #fff;
    text-align: left;
    font-family: "GraphicPixel";
}

    #inventoryoffset {
    	position: absolute;
    	left:20%;
    	top:48px;
		  pointer-events: auto;
    }

    #inventoryoffset div * {
      font-family: "GraphicPixel";
    }

  #invActionButton {
    position:absolute;
		bottom:0;
		right:0;
    display: none;
  }

  #inventoryGearItems {
    position:absolute;
		top:0;
		right:150px;
    height:30px;
    line-height: 26px;
  }

  #inventoryGear2Items {
    position:absolute;
    top:0;
    right:0;
    height:30px;
    line-height: 26px;
  }

  #inventorySellGold {
    position:absolute;
    bottom:0;
    right:150px;
  }

    #inventory0, #inventory1, #inventory2, #inventory3, #inventory4, #inventory5, #inventory6, #inventory7, #inventory8, #inventory9, #inventory10, #inventory11, #inventory12, #inventory13, #inventory14, #inventory15, #inventory16, #inventory17, #inventory18, #inventory19, #inventory20, #inventory21, #inventory22, #inventory23 {
        position: absolute;
        margin:auto;
        width: 48px;
        height: 48px;
        background-color: rgba(0, 0, 0, 0);
    		cursor: pointer;
    		pointer-events: auto;
    		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    		line-height: 48px;
    		color: #FFFFFF;
    		font-size:18px;
        text-align:center;
    }
    #inventoryHL0, #inventoryHL1, #inventoryHL2, #inventoryHL3, #inventoryHL4, #inventoryHL5, #inventoryHL6, #inventoryHL7, #inventoryHL8, #inventoryHL9, #inventoryHL10, #inventoryHL11, #inventoryHL12, #inventoryHL13, #inventoryHL14, #inventoryHL15, #inventoryHL16, #inventoryHL17, #inventoryHL18, #inventoryHL19, #inventoryHL20, #inventoryHL21, #inventoryHL22, #inventoryHL23 {
      position: absolute;
      margin:2px;
      width: 52px;
      height: 52px;
      border-radius:6px;
      text-align: center;
      font-size: 21px;
      color: white;
      cursor: default;
      pointer-events: none;
    }


    #inventorybackground0,#inventorybackground1,#inventorybackground2,#inventorybackground3,#inventorybackground4,#inventorybackground5,#inventorybackground6, #inventorybackground7, #inventorybackground8, #inventorybackground9, #inventorybackground10, #inventorybackground11, #inventorybackground12, #inventorybackground13, #inventorybackground14, #inventorybackground15, #inventorybackground16, #inventorybackground17, #inventorybackground18, #inventorybackground19, #inventorybackground20, #inventorybackground21, #inventorybackground22, #inventorybackground23 {
        position: absolute;
        width: 56px;
        height: 57px;
        background: url('../img/3/misc/itembackground.png' ) no-repeat;
        pointer-events: auto;
    }
    #inventorybackground0, #inventorybackground1, #inventorybackground2, #inventorybackground3, #inventorybackground4, #inventorybackground5{ top: 0px; }
    #inventorybackground6, #inventorybackground7, #inventorybackground8, #inventorybackground9, #inventorybackground10, #inventorybackground11{ top: 60px; }
    #inventorybackground12, #inventorybackground13, #inventorybackground14, #inventorybackground15, #inventorybackground16, #inventorybackground17{ top: 120px; }
    #inventorybackground18, #inventorybackground19, #inventorybackground20, #inventorybackground21, #inventorybackground22, #inventorybackground23{ top: 180px; }

    #inventorybackground0, #inventorybackground6, #inventorybackground12, #inventorybackground18{ left: 0px; }
    #inventorybackground1, #inventorybackground7, #inventorybackground13, #inventorybackground19{ left: 60px; }
    #inventorybackground2, #inventorybackground8, #inventorybackground14, #inventorybackground20{ left: 120px; }
    #inventorybackground3, #inventorybackground9, #inventorybackground15, #inventorybackground21{ left: 180px; }
    #inventorybackground4, #inventorybackground10, #inventorybackground16, #inventorybackground22{ left: 240px; }
    #inventorybackground5, #inventorybackground11, #inventorybackground17, #inventorybackground23{ left: 300px; }

	/* Character - Equipment */
	#equipment
	{
		position:absolute;
		left:0;
		top:10px;
	}

  #equipment div * {
    font-family: "GraphicPixel";
  }

  #equipBackground0, #equipBackground1, #equipBackground2, #equipBackground3, #equipBackground4
  {
      position: absolute;
      width: 56px;
      height: 57px;
      background: url('../img/3/misc/itembackground.png' ) no-repeat;
      pointer-events: auto;
  }

	#equipBackground0
	{
    top: 30px;
    background-position: -56px 0;
	}
	#equipBackground1
	{
    top: 90px;
    background-position: -56px -57px;
	}
  #equipBackground2
	{
    top: 150px;
    background-position: 0 -57px;
	}
  #equipBackground3
	{
    top: 210px;
    background-position: -56px -114px;
	}
  #equipBackground4
	{
    top: 270px;
    background-position: 0 0;
	}

  #equipment0, #equipment1, #equipment2, #equipment3, #equipment4 {
    position: absolute;
    margin: 3px;
    width: 48px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    pointer-events: auto;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    line-height: 48px;
    color: #FFF;
    font-size:18px;
    text-align:center;
  }

    .inventoryGoldFrame {
    		position:absolute;
				left: 2%;
        bottom: 2%;
        width: 100px;
        height: 21px;
    }

    .goldicon {
      position:absolute;
      left:0px;
      display: inline-block;
			width: 16px;
			height: 16px;

			background-image: url("../img/3/item/item-gold.png");
      background-size: 96px 16px;
		}

    .inventoryGemsFrame {
				left: 106px;
        bottom: 2%;
        width: 100px;
        height: 21px;
    }

    .gemsicon {
			width: 16px;
			height: 16px;
		}

    .inventoryGoldFrame .inventoryGold {
        left:18px;
        font-size:21px;
        line-height:21px;
    }

    .inventoryGemsFrame .inventoryGems {
        left:18px;
        font-size:21px;
        line-height:21px;
    }

    .inventorySellGoldFrame {
    		position:absolute;
				right: 9px;
        bottom: 60px;
        width: 120px;
        height: 21px;
        text-align:right;
    }

    .inventorySellGoldFrame .inventorySellGold {
        position: absolute;
        bottom:0;
        left:18px;
        font-size:21px;
        line-height:21px;
        color: #fff;
        text-align: left;
    }
