/*@media only screen and (orientation:portrait){
   #container {
    height: 100vw;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}*/

#about{display:block;position:absolute;bottom:0;left:35%;text-align:center;color:#fff;width:30%}
#about2{display:block;position:absolute;bottom:0;left:0;color:#fff;width:30%}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 16px;
    vertical-align: baseline;
    /*background: transparent;*/
    font-family:'pixel-emulator';
}

body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
:focus {
    outline: 0;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

.gp {font-family: 'GraphicPixel', sans-serif;}


html {}
body {
  padding:0;margin:0;
  width:100%;
  height:100%;
}

#intro, #container {
  padding:0;margin:0;
  width:100%;
  height:100%;
  background: rgb(202 246 255);
  background: -moz-linear-gradient(0deg, rgb(9,9,121) 0%, rgb(5,96,179) 25%, rgb(202 246 255) 100%);
  background: -webkit-linear-gradient(0deg, rgb(9,9,121) 0%, rgb(5,96,179) 25%, rgb(202 246 255) 100%);
  background: linear-gradient(0deg, rgb(9,9,121) 0%, rgb(5,96,179) 25%, rgb(202 246 255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
}

#rro2-heading {
  position: absolute;
  width:414px;
  height:83px;
  background-image: url("../img/common/rro2-heading.png");
  left:50%;
  top:50px;
  margin-left:-207px;
  transform: scale(1,1);
}

#background {background-color:#999;}
.error #background { background-color:#fff; }

#intro {position:absolute;left:0;top:0;z-index: 20;width:100%;height:100%;}

#container {z-index:0;position:absolute;left:0;top:0;width:100%;height:100%;overflow: hidden;display:none;}
/*#container * {z-index: 10}*/


#game {
  z-index: 5;
  position: absolute;
  border:2px solid black;
  cursor:none;
}

#canvas {
  -moz-user-select:none;-webkit-user-select:none;-o-user-select:none;-ms-user-select:none;
  z-index:10;
  position: absolute;
  left:0;
  top: 0;
}

#canvas canvas {
  position: absolute;
  left:0;
  top:0;
}

.started #canvas {cursor:none;}
#canvas.clickable {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    pointer-events:all;
}

h1 {font-weight:normal;}

.preload {}


div.clear{
    float: left;
    clear: both;
    width: 100%;
}

#dropDialog * {
    pointer-events: all;
    cursor:default;
}

#dropDialog {
    font-family:'GraphicPixel';
    color:#e3e3e3;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -76px;
    margin-top: -23px;
    padding: 5px;
    background: rgba(45, 45, 45, 0.8);
    border-radius: 6px 6px 6px 6px;
    display: none;
    z-index:15;
}

#dropTitle {
    font-family:'GraphicPixel';
    text-align: center;
}

#dropAccept, #dropCancel {
}

#auctionSellDialog * {
  pointer-events: all;
  cursor: default;
}

#auctionSellDialog {
    font-family:'GraphicPixel';
    color:#e3e3e3;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -76px;
    margin-top: -23px;
    padding: 5px;
    background: rgba(45, 45, 45, 0.8);
    border-radius: 6px 6px 6px 6px;
    display: none;
    z-index:15;
}

#auctionSellTitle {
    text-align: center;
}
#auctionSellAccept, #auctionSellCancel {
}



#weapon, #armor {image-rendering:-moz-crisp-edges;}

#playername {color:#fff;}
.validation-error {color:#880000;}
@keyframes blink { 0% {color:red;} 100% {color:#880000;}}
@-webkit-keyframes blink { 0% {color:red;} 100% {color:#880000;}}

#playerimage {image-rendering: -moz-crisp-edges; image-rendering: -webkit-optimize-contrast;}

/*#intro {position:absolute;left:0;top:0;z-index: 20;width:100%;height:100%;}

footer:hover {opacity:1;}
footer div  {display:inline-block;}
.close {position:absolute;z-index:20000;}
.close:hover {cursor:pointer;}
*/

#nameinput::-webkit-input-placeholder  {color:#fff;}
#resize-check {position:absolute;height:0;top:0;left:0;-moz-transition:0.001s height ease;-webkit-transition:0.001s height ease;-o-transition:0.001s height ease;-ms-transition:0.001s height ease;transition:0.001s height ease;}

/*
#name-tooltip {width:400px;height:30px;padding:10px 0;font-size:20px;background:#373737;position:absolute;left:50%;margin-left:-200px;color:#fff;border-radius:8px;line-height:30px;top:-40px;opacity:0;-moz-transition:0.25s opacity ease;-webkit-transition:0.25s opacity ease;-o-transition:0.25s opacity ease;-ms-transition:0.25s opacity ease;transition:0.25s opacity ease;pointer-events:none;}
#name-tooltip:after {content:url('../img/common/arrow.png');width:28px;height:16px;position:absolute;bottom:-8px;left:50%;margin-left:-14px;}
#name-tooltip.visible {opacity:.9;}

.opera #name-tooltip {display:none;}
.opera #name-tooltip.visible {display:block;}
*/
.game #confirmation, .game #error {display:none;}

	#gui {
		position: absolute;
		left:0;
		top: 0;
		transform-origin: top left;
		-moz-user-select:none;-webkit-user-select:none;-o-user-select:none;-ms-user-select:none;
		z-index:10;
		pointer-events:none;
		cursor:none;
	}



    #playerPopupMenuContainer{
        position: absolute;
        width: 150px;
        height: 170px;
        background: rgba(0, 0, 0, 0.5);
        display: none;
        pointer-events: all;
        cursor: pointer;
    }
    #playerPopupMenuContainer div {
        position: absolute;
        left: 0px;
        width: 150px;
        height: 36px;
        background: rgba(0, 0, 0, 0);
        color: rgba(255, 255, 255, 1);
        font-size: 24px;
        text-align: center;
        margin-top: 12px;
    }
    #playerPopupMenuName{ top: 0px; }
    #playerPopupMenuAttack{ top: 36px; }
    #playerPopupMenuPartyInvite{ top: 72px; }
    #playerPopupMenuPartyLeader{ top: 72px; }
    #playerPopupMenuPartyKick{ top: 108px; }
    #playerPopupMenuCardBattle{ top: 134px; }

    #chatbox {
        position: absolute;
        left: 50%;
        bottom: 25%;
        width: 500px;
        height: 32px;
        margin-left: -250px;
        display: none;
        background-color: #000;
        opacity: 0.5;
    }

    #chatbox.active {
        display: block;
    }
    #chatbox input {
        font-size:16px;
        color:#eee;
        background:none;
        width:90%;
        border:0;
        margin-left:2%;
        padding:7px 0;
    }
    #chatbox .legend{
        position: absoute;
        top: -20px;
        left: 10px;
        padding: 4px 6px;
        color: #FFF;
        background: rgba(45,45,45,0.8);
        z_index: 4;
        border-radius: 3px 3px 0 0;
        diplay: none;
    }
    #chatbox .legend p{
        line-height: 1;
    }

    #playername {margin-top:15px;}
    .confirmation .delete {margin:15px auto 15px auto;}
    .button.delete {background-position:-687px -153px;}
    .button.delete:active {background-position:0 -2178px;}
    .validation-error {font-size:22px;}

    tr:hover {
        background: rgba(0, 128, 0, 0.5);
    }

    #textWindow{
        position: absolute;
        top: 10%;
        left: 5%;
        width: 88%;
        height: 50%;
        background: rgba(0,0,0,0.7);
        color: rgba(255, 255, 255, 1);
        margin-left: 0px;
        padding: 1%;
        border: 0px;
    }
    #textWindow h1 {font-size:64px;}
    #textWindow h2 {font-size:48px;}
    #textWindow h3 {font-size:32px;}
    #textWindow h4 {font-size:24px;}
    #textWindow h5 {font-size:16px;text-indent:16px;}
    #textWindow h6 {font-size:12px;text-indent:32px;}
    #textWindow p {font-size:12px;text-indent:32px;margin:2px 2px;}
    #textWindow td {color: rgba(255, 255, 255, 1);}

    #mainborder {
        position: absolute;
        top:0px !important;
        left:0;
        border:0;
        padding:0;
    }

    #playerimage {height: 96px; width: 96px;}

    #resize-check {height:3px;}
