
:root {
	--pixel-bg: #0096ff; /* Inner background color */
	--pixel-border: black; /* Inner border color: */
	--pixel-border-2: white; /* Middle border color: */
	--pixel-border-3: var(--pixel-border); /* Outer border color */
	--pixel: 2px; /* Pixel size */
}

div.frame{
  display: block;
  position: absolute;
  opacity:0.75;
}

/*div.frameheadingtext
{
  color: white;
  font-family: 'pixel-emulator' !important;
  text-align:center;
  font-size: 24px;
}*/
div.frame-heading:before {
  height:20px !important;
  overflow: hidden;
}

div.frame-heading
{
  display: block;
  position: absolute;
  top: 0;
  left:25%;
  width:50%;
  /*height:50%;*/

  background-color: #0096ff;
  z-index:9;

  /*border: 4px ridge #888;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom: none !important;*/

  color: white;
  /*font-family: 'pixel-emulator' !important;*/
  text-align:center;
  font-size: 24px !important;
  font-weight: bold;
  /*line-height: 30px;*/

  pointer-events: auto;
  cursor: default;

  height: 40px;
  /*height:102px;*/
}

div.frame-heading div
{
  z-index:15;
  color: white;
  text-align:center;
  font-size: 24px !important;
  font-weight: bold;
  /*line-height: 45px;*/
  pointer-events: auto;
  cursor: default;
  /*height: 40px;*/
}

div.frame-content {
  display: block;
  position: absolute;
  background-color: #0096ff;
  z-index:10;
  /*border-radius: 16px;
  border: 4px ridge #888;*/
  padding: 2%;
  cursor: default;
}

div.frame-heading, div.frame-content, div.frame-panel
{
  /*clip-path: polygon(-10% -50%, 110% -50%, 110% 97%, -10% 97%, -10% 100%);*/
	background: var(--pixel-bg);
	box-shadow:

	/* Inner Background Color */
		0 calc(var(--pixel) * -3) 0 calc(var(--pixel) * -1) var(--pixel-bg),
		0 calc(var(--pixel) * 3) 0 calc(var(--pixel) * -1) var(--pixel-bg),
		0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -2) var(--pixel-bg),
		0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -2) var(--pixel-bg),
		0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -4) var(--pixel-bg),
		0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -4) var(--pixel-bg),
		0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -6) var(--pixel-bg),
		0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -6) var(--pixel-bg),

	/* Pixel Border Layer 1 */
		calc(var(--pixel) * -1) 0 0 0 var(--pixel-border),
		var(--pixel) 0 0 0 var(--pixel-border),
		0 calc(var(--pixel) * -2) 0 0 var(--pixel-border),
		0 calc(var(--pixel) * 2) 0 0 var(--pixel-border),
		0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-border),
		0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-border),
		0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-border),
		0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-border),
		0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-border),
		0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-border),
		0 calc(var(--pixel) * -13) 0 calc(var(--pixel) * -6) var(--pixel-border),
		0 calc(var(--pixel) * 13) 0 calc(var(--pixel) * -6) var(--pixel-border),

	/* Pixel Border Layer 2 */
		calc(var(--pixel) * -2) 0 0 0 var(--pixel-border-2),
		calc(var(--pixel) * 2) 0 0 0 var(--pixel-border-2),
		0 calc(var(--pixel) * -1) 0 var(--pixel) var(--pixel-border-2),
		0 var(--pixel) 0 var(--pixel) var(--pixel-border-2),
		0 calc(var(--pixel) * -4) 0 0 var(--pixel-border-2),
		0 calc(var(--pixel) * 4) 0 0 var(--pixel-border-2),
		0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
		0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
		0 calc(var(--pixel) * -8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
		0 calc(var(--pixel) * 8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
		0 calc(var(--pixel) * -11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
		0 calc(var(--pixel) * 11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
		0 calc(var(--pixel) * -14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
		0 calc(var(--pixel) * 14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),

	/* Border Layer 3: --pixel-border-3 */
		calc(var(--pixel) * -3) 0 0 0 var(--pixel-border-3),
		calc(var(--pixel) * 3) 0 0 0 var(--pixel-border-3),
		0 0 0 calc(var(--pixel) * 2) var(--pixel-border-3),
		0 calc(var(--pixel) * -3) 0 var(--pixel) var(--pixel-border-3),
		0 calc(var(--pixel) * 3) 0 var(--pixel) var(--pixel-border-3),
		0 calc(var(--pixel) * -5) 0 0 var(--pixel-border-3),
		0 calc(var(--pixel) * 5) 0 0 var(--pixel-border-3),
		0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
		0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
		0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -2) var(--pixel-border-3),
		0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -2) var(--pixel-border-3),
		0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -4) var(--pixel-border-3),
		0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -4) var(--pixel-border-3),
		0 calc(var(--pixel) * -15) 0 calc(var(--pixel) * -6) var(--pixel-border-3),
		0 calc(var(--pixel) * 15) 0 calc(var(--pixel) * -6) var(--pixel-border-3);
}


div.frame-content-padding {
  position:absolute;
  left:2% !important;
  top:2% !important;
  width:96% !important;
  height:96% !important;
}

div.frame-panel {
  display: block;
  position: absolute;

  background-color: #0096ff;

  /*border-radius: 5% / 5%;

  border: 4px ridge #888;*/

  padding: 1% !important;

  pointer-events: auto;
  cursor:default;

}

div.frame-new-button {
  display: block;

  width: 120px;
  height: 40px;
  margin: 3px;

  background-color: #F7B132;

  border: 2px solid #333;
  border-radius: 12px;

  color: white;

  cursor: pointer;
  pointer-events: auto;

  /*font-family: 'pixel-emulator';*/
  text-align:center;
  font-size: 18px;
  font-weight: bold;
  line-height:34px;

}

div.frame-new-button-ok.active
{
  background-color: #00FF00 !important;
}

.newFieldName {
  font-family: 'GraphicPixel';
  font-weight:bold;
  color: #fff !important;
  font-size: 18px;
}

.frame-stroke1 {
  font-weight:bold;
  color: #fff !important;
}

div.frame-close-button
{
  position: absolute;
  right: -8px;
  top: -19px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index:15;
  background: url('../img/2/misc/close-button.png' ) no-repeat;
  pointer-events: auto;
}

	div.frame{
	  display: block;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  margin-left:-250px;
	  margin-top:-250px;
	  width:500px;
	  height:500px;
	}

	div.frame-content {
	  top: 50px;
	  left:0;
	  right:0;
	  bottom:0;
	}

	div.frame-new-button-ok
	{
	  width: 120px;
	  height: 40px;
	  margin: 3px;

	  border-width: 3px;
	  border-radius: 12px;

	  font-size: 27px;
	  line-height:34px;
    font-weight: bold;
	}

	.frame-stroke {
	  font-weight:bold;
	}


	div.frame-border
	{
		border:medium solid black;
	}
