
    #appearanceDialog {
        display:none;
        pointer-events:all;
        cursor: default;
        z-index:11;
    }

    #characterLook3 {
        position: absolute;
        left: 50% !important;
        top: 35% !important;
        margin-left:-72px;
        margin-top:-72px
    }
    #characterLookArmor3, #characterLookWeapon3 {
        position: absolute;
    }

    #armorColor {
  		position:absolute;
  		top:60px;
  		left:24px;
  	}
  	#weaponColor {
  		position:absolute;
  		top:60px;
  		right:24px;
  	}

    #characterLook {
        position: absolute;
        left: 50%;
        margin-left:-45px;
        top: 50%;
        margin-top:-45px;
        width: 96px;
        height: 96px;
    }
    #changeLookArmorPrev, #changeLookArmorNext, #changeLookWeaponPrev, #changeLookWeaponNext {
    	position: absolute;
    	width:200px;
    	height:24px;
    	font-size:18px;
      line-height:21px;
    	color: #fff;
    }
    #changeLookArmorPrev {
    	left:18px;
    	top:270px;
    }
    #changeLookArmorNext {
    	right:18px;
    	top:270px;
    }
    #changeLookWeaponPrev {
    	left:18px;
    	top:306px;
    }
    #changeLookWeaponNext {
    	right:18px;
    	top:306px;
    }

    #characterLookArmor, #characterLookWeapon {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 480px;
        background-position: 0px -512px;
    }
