#bankDialogButtons div
{
    display: inline-block;
}


    #bankDialog {
        font-family: 'GraphicPixel';
        -moz-user-select: none;
        -webkit-user-select: none;
        display: none;
	      cursor: pointer;
	      pointer-events: auto;
    }

    #bankDialogButtons div
    {
        width:90px;
        height:36px;
    }

    #bankDialogBank {
        position: absolute;
        left: 50%;
        top: 60px;
        margin-left: -195px;
        width: 390px;
        height: 96%;
    }

    #bankGoldFrame {
    		position:absolute;
				left: 2%;
        bottom: 15%;
        width: 150px;
        height: 18px;
    }

    #bankGoldFrame .goldIcon {
        display:inline-block;
    }

    #bankGoldFrame .bankGold {
        position: absolute;
        bottom:0;
        left:18px;
        font-size:18px;
        line-height:18px;
        color: #fff;
        text-align: left;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        font-family: 'GraphicPixel';
    }

    .bankItemBackground {
      position: absolute;
      width: 57px;
      height: 56px;
      background-image: url("../img/3/misc/itembackground.png");
    }

    .bankItem {
      position: absolute;
      width: 48px;
      height: 45px;
      bottom: 3px;
      line-height: 48px;
      text-shadow: -1px 0 black 0 1px black 1px 0 black 0 -1px black;
      color: white;
      font-size: 18px;
      text-align: center;
      font-family: 'GraphicPixel';
      margin: 3px;
    }

    #bankDialogStoreButton {
      position: absolute;
      right:2%;
      bottom:2%;
    }
