#craftDialog {
  pointer-events: all;
}

#craftDialog div div div {
  font-family: 'GraphicPixel' !important;
  color: white;
}

    #craftDialog {
        font-family: 'GraphicPixel';
        font-size: 15px;
        font-weight: bold;
        -moz-user-select: none;
        -webkit-user-select: none;
        display: none;
				cursor: pointer;
				pointer-events: auto;
    }

    #craftDialog div div div * {
      font-family: "GraphicPixel"
    }

    #craftDialogStorePage {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 513px;
        height: 495px;
        display: none;
    }
    #craftDialogStorePageBody {
        position: absolute;
        left: 0px;
        top: 45px;
        width: 90%;
        height: 100%;
    }

    #craftDialogStoreButtons {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
    }

    #craftDialogStoreButtons div
    {
        position: absolute;
        top:0;
				width:100px;
				height:24px;
        font-size:18px !important;
        color: #fff;
        line-height:21px;
				text-align: center;
    }

    #craftDialogStoreButtons .active {
        background-color: green !important;
    }

    #craftDialogStorePageBody .frame-new-button
    {
      position: absolute;
      top:0;
      right:0;
      width:60px;
      height:21px;
      font-size:15px !important;
      color: #fff;
      line-height:18px;
      text-align: center;
    }

    #craftDialogStore0Button {
        left: 0px;
    }

    #craftDialogStore0Button.active {
    }
    #craftDialogStore1Button {
        left: 120px;
    }
    #craftDialogStore1Button.active {
    }
    #craftDialogStore2Button {
        left: 240px;
    }
    #craftDialogStore2Button.active {
    }
		#craftDialogStore3Button {
			left: 360px;
		}

		.craftRack {
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:57px;
			border-radius:3px;
			background-color:rgba(150, 150, 150, 0.35);
			display:none;
      vertical-align:middle;
		}

    .craftitem {
      display: inline-block;
      width:56px;
			height:56px;
			background-image:url("../img/3/misc/itembackground.png");
      margin-right:10px;
    }

    .craftitem div {
      position: absolute;
      text-align: center;
      width: 48px;
      height: 48px;
      margin: 4px;
    }

    .craftBecomes {
      float:left;
      vertical-align:middle;
    }

    .craftReqs {
      float:left;
    }

		.craftItemBgr {
			position:absolute;
			left:12px;
			/*bottom:6px;*/
			width:57px;
			height:56px;
			background-image:url("../img/3/misc/itembackground.png");
		}

		.craftItemIcon {
			position:absolute;
			width:48px;
			height:48px;
      text-align: center;
      color: white;
      line-height: 40px;
		}

		.craftItemInfo {
			position:absolute;
			left:80px;
			top:0px;
			width:180px;
			height:33px;
			color:white;
			font-size:15px;
		}

		.craftItemPrice {
			position:absolute;
			left:240px;
			top:12px;
			width:75px;
			height:33px;
			line-height:33px;
			color:white;
			text-align:right;
		}

		.craftItemBuy {
			position:absolute;
			right:0;
			top:15px !important;
			width:100px;
			height:33px;
			line-height:33px;
			color:white;
			text-align:center;
			cursor:pointer;
		}

		#craftPageNav {
			position: absolute;
			right: 0px;
			bottom: 0px;
			width: 240px;
			height: 30px;
		}
		#craftPageNavPrev {
			position: absolute;
			left: 0px;
			top: 0px;
			width: 24px;
			height: 27px;
			color: #FFFFFF;
			text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		}
		.craftPageNavNumber {
        position:absolute;
				width: 27px;
				height: 30px;
				color: #FFFFFF;
				text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		}
		#craftPageNavNext {
			position: absolute;
			left: 210px;
			top: 0px;
			width: 24px;
			height: 27px;
			color: #FFFFFF;
			text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		}
    #craftPageNavNumber0 {
      position: absolute; left: 36px; top: 0px;
    }
    #craftPageNavNumber1 {
      position: absolute; left: 72px; top: 0px;
    }
    #craftPageNavNumber2 {
      position: absolute; left: 108px; top: 0px;
    }
    #craftPageNavNumber3 {
      position: absolute; left: 144px; top: 0px;
    }
    #craftPageNavNumber4 {
      position: absolute; left: 180px; top: 0px;
    }
