#cmdQuit {
	pointer-events: auto;
}

#charactermenu {
    font-family: 'pixel-emulator';
}

#explevel {
	font-family: 'GraphicPixel';
}

#expbar {
	font-family: 'GraphicPixel';
}

#playerbackground {
	background-color: none;
}

#shortcutbutton {
	position:absolute;
	right:0;
	bottom:0;
	opacity:0.6;
}

#attackContainer {
	display: none;
}

#statbars .frame-border {
	border: 1px solid black;
}

	#playerbar {
		position:absolute;
		left:10px;
		top:20px;
		width:250px;
		height:36px;
		z-index:10 !important;
		overflow: hidden;
		pointer-events: none;
		padding: 14px !important;
		-moz-user-select: none;
	    -webkit-user-select: none;
	    cursor: none;
	    opacity:0.6;
	}

	#playerbar * {
		font-family: "GraphicPixel";
	}

    #characterLook2 {
        position: absolute;
        left:25%;
        top:25%;
        width: 96px;
        height: 96px;
        margin-left:14%;
        margin-top:10%;
        z-index:20;
    }
    #characterLookArmor2, #characterLookWeapon2 {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 480px;
        background-position: 0px -512px;
    }
    #charactermenu {
    	position:absolute;
      right:0;
      top:0;
      text-align:center;
    	z-index:15;
    	cursor:pointer;
    	pointer-events:auto;
			opacity:0.75;
			width:105px;
			height:36px;
    }

	#statbars {
		position: absolute;
    top: 25%;
    left: 25%;
    height: 42px;
    width: 180px;
    /*margin-top: -21px;*/
	}

	#statbars div.frame-border {
		display:block;
		width:180px;
		height:20px;
	}
	#statbars div.frame-border:nth-child(1) {
		position: absolute;
		left:2px;
		top:2px;
	}
	#statbars div.frame-border:nth-child(2){
		position: absolute;
		left:2px;
		top:24px;
	}

	#playereffects {
		position:absolute;
		bottom:3px;
		left:22%;
		height:24px;
		width:180px;
		z-index:5 !important;
	}

		#health {
        position:absolute;
        top:0;
				left:0;
        height:20px;
        width:180px;
        z-index:5 !important;
				border: none;
    		border-right: 2px solid black;
				background: rgb(255,0,0);
				background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(128,0,0,1) 25%, rgba(255,0,0,1) 100%);
        -webkit-transition: width .25s ease-in-out;
				transition: width .25s ease-in-out;

    }
    #energy {
    	position:absolute;
    	top:0;
			left:0;
      height:20px;
      width:180px;
      z-index:5 !important;
			border: none;
    	border-right: 2px solid black;
			background: rgb(0,212,255);
			background: linear-gradient(0deg, rgba(0,212,255,1) 0%, rgba(0,106,128,1) 25%, rgba(0,212,255,1) 100%);
      -webkit-transition: width .25s ease-in-out;
			transition: width .25s ease-in-out;
    }

    #healthtext {
        position: absolute;
        top:0;
        left:0;

    }

    #energytext {
        position: absolute;
        top:0;
        left:0;
    }

    #healthtext, #energytext {
        width: 182px;
        height: 16px;
        border: 0px;
        margin: 0px;
        padding: 0px;
        line-height: 16px;
        text-align: center;
        color: white;
        font-size:16px;
        font-family: 'GraphicPixel', sans-serif;
        text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
        z-index:15;
    }

    #explevel {
			position: absolute;
			left: 0;
			top: 50%;
			width: 80px;
			height: 24px;
			line-height: 24px;
			font-size: 20px;
			text-align: center;
			z-index: 30;
    }

    #expcontainer {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 12px;
        background-color: black;
        margin-left: 0px;
        text-align: center;
        cursor: default;
        -moz-user-select: none;
        -webkit-user-select: none;
        border-top:3px solid black;
        opacity:0.75;
    }

    #exp {
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 12px;
        width:0%;
        margin: 0px;
        padding: 0px;
        background-color: green;
        opacity:0.75;
        -webkit-transition: width .25s ease-in-out;
        transition: width .25s ease-in-out;
    }

    #expbar {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 14px;
        border: 0px;
        color:yellow;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        line-height:14px;
        font-size: 12px;
        text-align: center;
    }


	#target {
		border-radius: 3% / 10% !important;
	}
	#target:before {
		border-radius: 3% / 10% !important;
	}

    #target{
        font-family:'GraphicPixel';
        color:#e3e3e3;
        position: absolute;
        top:1%;
        left:50%;
        display: none;
        pointer-events: none;
		width:120px;
		height:15px;
		opacity:0.75;
		padding:0;
    }

    #target .details {
        text-transform: capitalize;
        z-index:20;
    }
    #target .name {
        position: absolute;
        top:5%;
        left:5%;
        text-transform: capitalize;
        font-size:12px;
    }
    #target .health {
        position:absolute;
        left:5%;
        top:18px;
        height:12px;
				background: rgb(2,0,36);
				background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(128,0,0,1) 25%, rgba(255,0,0,1) 100%);
				width:120px;
        -webkit-transition: width .1s ease-in-out;
        transition: width .1s ease-in-out;
    }
    /*#target .level {
        position: absolute;
        bottom:5%;
        left:5%;
        z-index:20;
        font-size:12px;
    }*/
		#target #targeteffects {
			position: absolute;
			bottom:5%;
			left:5%;
			width:120px;
			height:24px;
		}
