#shopDialog {
  pointer-events: all;
}

#shopDialog div div div {
  font-family: 'GraphicPixel' !important;
  color: white;
}

    #storeDialog {
        font-family: 'GraphicPixel';
        font-size: 15px;
        font-weight: bold;
        -moz-user-select: none;
        -webkit-user-select: none;
        display: none;
				cursor: pointer;
				pointer-events: auto;
    }

    #storeDialog div div div * {
      font-family: "GraphicPixel"
    }

    #storeDialogStorePage {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 513px;
        height: 495px;
        display: none;
    }
    #storeDialogStorePageBody {
        position: absolute;
        left: 0px;
        top: 45px;
        width: 90%;
        height: 100%;
    }

    #storeDialogStoreButtons {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
    }

    #storeDialogStoreButtons div
    {
        position: absolute;
        top:0;
				width:100px;
				height:24px;
        font-size:18px !important;
        color: #fff;
        line-height:21px;
				text-align: center;
    }

    #storeDialogStoreButtons .active {
        background-color: green !important;
    }

    #storeDialogStorePageBody .frame-new-button
    {
      position: absolute;
      top:0;
      right:0;
      width:60px;
      height:21px;
      font-size:15px !important;
      color: #fff;
      line-height:18px;
      text-align: center;
    }

    #storeDialogStore0Button {
        left: 0px;
    }

    #storeDialogStore0Button.active {
    }
    #storeDialogStore1Button {
        left: 120px;
    }
    #storeDialogStore1Button.active {
    }
    #storeDialogStore2Button {
        left: 240px;
    }
    #storeDialogStore2Button.active {
    }
		#storeDialogStore3Button {
			left: 360px;
		}

		.storeRack {
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:56px;
			border-radius:3px;
			background-color:rgba(150, 150, 150, 0.35);
			display:none;
		}

    .craftitem {
      width:56px;
			height:56px;
			background-image:url("../img/3/misc/itembackground.png");
    }

		.storeItemBgr {
			position:absolute;
			left:12px;
			top:0;
			width:56px;
			height:56px;
			background-image:url("../img/3/misc/itembackground.png");
		}

		.storeItemIcon {
			position:absolute;
			width:48px;
			height:48px;
      text-align: center;
      color: white;
      line-height: 40px;
      margin:4px;
		}

		.storeItemInfo {
			position:absolute;
			left:80px;
			top:6px;
			width:180px;
			height:33px;
			color:white;
			font-size:15px;
      vertical-align: middle;
		}

		.storeItemPrice {
			position:absolute;
			left:240px;
			top:12px;
			width:75px;
			height:33px;
			vertical-align: middle;
			color:white;
			text-align:right;
		}

		.storeItemBuy {
			position:absolute;
			right:0;
			top:15px !important;
			width:100px;
			height:33px;
			line-height:33px;
			color:white;
			text-align:center;
			cursor:pointer;
		}

		#storePageNav {
			position: absolute;
			right: 0px;
			bottom: 0px;
			width: 240px;
			height: 30px;
		}
		#storePageNavPrev {
			position: absolute;
			left: 0px;
			top: 0px;
			width: 24px;
			height: 27px;
			color: #FFFFFF;
			text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		}
		.storePageNavNumber {
				width: 27px;
				height: 30px;
				color: #FFFFFF;
				text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		}
		#storePageNavNext {
			position: absolute;
			left: 210px;
			top: 0px;
			width: 24px;
			height: 27px;
			color: #FFFFFF;
			text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		}
